@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
* {
     margin: 0;
     padding: 0;
     border: 0;
}

body {
    background-color: #EBE5C5;
}

header {
    background: linear-gradient(to top, #063d1e, #3ddc84);
    padding: 30px 0px 10px;
}

header > h1 {
    color: white;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.528);
}

header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62);
}

nav {
    margin-top: 60px;
}

nav > a {
    color: #83E1AD;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.443);
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    background-color:#3DDB84;
    color: #033007;
}

main {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    width: 1020px;
    height: auto;
    padding: 10px;
    margin: auto;
    text-align: justify;
    margin-bottom: 30px;
}

main > h1 {
    font-size: 30px;
    margin: auto;
    font-family: android;
    color: #1A5C37;
    padding: 15px 20px;;
}

main > h2 {
    margin: 15px 0px 15px 0px;
    font-family: android;
    color: #1A5C37;
    background: linear-gradient(to right, #83E1AD, white);
    padding: 0px 15px;
    font-weight: normal;
}

main > p {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 40px;
    display: inline;
    font-weight: 500;
    line-height: 2;
}

p > a {
    background-color: #83E1AD;
    color: #1A5C37;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

p > a:hover {
    text-decoration: underline;
}

picture {
    max-width: 100%;
    display: block;
    margin: auto;
  }
  
  picture img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  span {
    color: green;
    font-weight: bold;
}

iframe {
    max-width: 100%;
    display: block;
    margin: auto;
}

aside > h3 {
    background-color: #025509;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    background-color: #83E1AD;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    line-height: 2;
}

.infelizmente {
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 40px;
    display: inline-block;
    font-weight: 500;
    line-height: 2;
    margin-top: -30px;
}

.acesse {
    display: inline-block;
    padding-left: 40px;
    margin-top: -30px;
}

ul {
    background-color: #83E1AD;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 2;
    margin-top: -30px;
    padding-left: 30px;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}